<div id="hero-slider-area" class="header-hero-area site-breadcrumb-header fix"> <!-- start header banner -->

		<!-- Start Breadcrumb
		============================================= -->
		<div class="site-breadcrumb pb-100">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center pt-200 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
						<h2 class="breadcrumb-title">Freequently Aasked Questions</h2>
						<ul class="breadcrumb-menu clearfix">
							<li>
								<a href="home">Home /</a> <a href="#" class="active">faqs</a>
							</li>
						</ul>					
					</div>
				</div>
			</div>
		</div>
		<!-- End  Breadcrumb -->				
	</div><!-- End header hero area -->
	
	<div id="faqs" class="faqs_area pb-100 pt-90"><!-- start faqs -->
		<div class="container"><!-- start container -->
			<div class="row"><!-- start row -->
				<div class="col-md-12 col-offset-2 ml-20"><!-- start col-12 -->
					<div class="faqs_title pb-10">
						<h6 class="faqs_subtitle"> General Questions:</h6>
					</div>
					<div class="general_faqs">					
						<div class="faq">
						  <div class="item">
							<div class="question">
							  <h4>What is the refund policy of Etherino?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>Do your Etherino support RTL?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>Do you have any installation or setup service?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>Why should I have a registered account on your website?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>Are Etherino widget ready/shortcode supported?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>What is your free product support policy?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						</div>
					</div>
				</div><!-- end col-12 -->
			</div><!-- end row -->			
			<div class="row"><!-- start row -->
				<div class="col-md-12 ml-20"><!-- start col-12 -->
					<div class="faqs_title pb-10 pt-30">
						<h6 class="faqs_subtitle"> Pre-Sale Questions:</h6>
					</div>
					<div class="general_faqs">					
						<div class="faq">
						  <div class="item">
							<div class="question">
							  <h4>Do you provide documentation and support?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>How long do I have support access?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>How can I benefit from support and license?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>Do you provide customization?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>For how many I can use a NFTs?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>Which browsers do you test the items on?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>How can I use a discount voucher?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer">
								<p>In publishing and graphic design, Lorem ipsum is a placeholder used to demonstrate the visual form of a document or a typeface without be used as a placeholder before final copy is available.</p>
							</div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>Which payments do you accept?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer"><p>We accept PayPal, 2checkout, Visa, MasterCard, Discover and American Express.<p></div>
						  </div>
						</div>
					</div>
				</div><!-- end col-12 -->
			</div><!-- end row -->
			<div class="row"><!-- start row -->
				<div class="col-md-12 ml-20"><!-- start col-12 -->
					<div class="faqs_title pb-10 pt-30">
						<h6 class="faqs_subtitle"> Account Questions:</h6>
					</div>
					<div class="general_faqs">					
						<div class="faq">
						  <div class="item">
							<div class="question">
							  <h4>Can I share my username and password with your staffs?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer"><p>Yes, you can. But we recommend you not to share your live website’s password with anybody. You can share password of your demo website.</p></div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>How to recover my Etherino account password?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer"><p>If you forget your nftfox account password, then go to this link and fill out the form with your email address and click the ‘Reset Password’ button. You will receive an email with the password reset instructions. If you don’t get the email, please check your email’s spam box.</p></div>
						  </div>
						  <div class="item">
							<div class="question">
							  <h4>How to download the product?</h4>
							  <i class='bx bx-plus'></i>
							  <i class='bx bx-minus'></i>
							</div>
							<div class="answer"><p>If you purchase any of our products, you need to download that product to use. To download the product purchased, you have to first login to the Etherino site. Then go to <strong>My Account > Download</strong>. There you can find a download section. If you face any problem, please feel free to contact our support team.</p></div>
						  </div>
						</div>
					</div>
				</div><!-- end col-12 -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end faqs -->
